@font-face{
    font-family: 'LeagueGothic';
    src: url("../fonts");
}

@import url(https://fonts.googleapis.com/css?family=Rubik+One&subset=latin,cyrillic);

* {
    font-family: "League Gothic";
}

.container {
    /*width: 2400px;*/
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.header {
    height: 518px;
    background-image: url("../img/bg-header.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header h1  {
    text-transform: uppercase;
    font-size: 48px;
    font-family: "League Gothic";
    color: rgb(255, 255, 255);
    line-height: 0.703;
    text-align: left;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.header h1 span{
    color: #654672;
    background: linear-gradient(to top, #33263a, #745083 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header nav {
    font-size: 24px;
    font-family: "League Gothic";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.405;
    text-align: left;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);
}

.header .underscore {
    width: 47px;
    height: 2px;
    background-color: #edbfff;
}

.slider h3 {
    font-size: 36px;
    font-family: "League Gothic";
    color: rgb(254, 254, 254);
    line-height: 0.667;
    text-align: left;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    margin: 7px 0;
}

.slider span {
    display: inline-block;
    color: #edbfff;
    text-transform: uppercase;
}

.dot {
    background-color: #000000;
    height: 17px;
    width: 17px;
    opacity: 0.302;
    border-radius: 50%;
}

.mainmenubtn {
    font-size: 24px;
    font-family: "League Gothic";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.405;
    text-align: left;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);
    top: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color: black;

}
.dropdown-child a {
    color: #ffffff;
    text-align: center;
    line-height: 43px;
    text-decoration: none;
    display: block;
    font-size: 24px;
    font-family: "League Gothic";
    text-transform: uppercase;
    line-height: 1.75;
}




.dropdown:hover .dropdown-child {
    display: block;
    position: absolute;
    width: 246px;
    height: 259px;
    background-color: #3d3146;
    border-radius: 10%;
}






.blurb {
    height: 601px;
    background: linear-gradient(to top, #36293d, #755284 );;
}

.blurb h3 {
    font-size: 24px;
    font-family: "League Gothic";
    color: rgb(255, 255, 255);
    line-height: 1;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(15, 21, 24, 0.004);
    text-transform: uppercase;
}

.blurb span {
    font-size: 18px;
    font-family: "League Gothic";
    color: rgb(255, 255, 255);
    line-height: 1.333;
    text-align: left;
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
}

.blurb row span {
    font-size: 16px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    line-height: 1.5;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(15, 21, 24, 0.004);
    text-transform: none;
}

.about {
    height: 1197px;
}

.posts {
    height: 384px;
    background-color: red;
}

.card {
    height: 274px;
    background-color: green;
    position: relative;
}

.card-bg {
    background-color: #fff;
    width: 257px;
    height: 273px;
    margin-left: 45px;
    /*position: absolute;*/
    z-index: 0;
}

.card img {
    position: absolute;
    top: 20px;
    left: 20px;

}

.card-title {
    font-size: 24px;
    font-family: 'LeagueGothic', sans-serif;
    color: rgb(69, 69, 69);
    text-transform: uppercase;
    line-height: 1;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
    position: absolute;
    top: 28px;
    left: 80px;
}

.card-text {
    font-size: 16px;
    font-family: "OpenSans";
    color: rgb(69, 69, 69);
    line-height: 1.5;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
    position: absolute;
    top: 84px;
    left: 82px;
}

.updates {
    height: 263px;
    width: 280px;
    background-color: blue;
}

.updates-title {
    font-size: 30px;
    font-family: "LeagueGothic";
    color: rgb(69, 69, 69);
    line-height: 0.8;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
    text-transform: uppercase;
}

.post-title {
    font-size: 16px;
    font-family: "OpenSans";
    color: rgb(69, 69, 69);
    line-height: 1.5;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
}

.updates p {
    text-transform: uppercase;
    font-size: 18px;
    font-family: "LeagueGothic";
    color: rgb(69, 69, 69);
    line-height: 1.333;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
}

.logos {
    height: 425px;
}

footer {
    height: 200px;
    background-image: url("../img/bg-footer.png");
}

footer span {
    font-size: 12px;
    font-family: "OpenSans";
    color: rgb(255, 255, 255);
    line-height: 2.81;
    text-align: center;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

